* {
  margin-top: 0;
}
body {
  background-color: rgb(208, 211, 190);
  display: flexbox;
}
.winner {
  color: green;
}
.lost {
  color: rgb(215, 20, 79);
}
/*  end game message  */
.endMsg {
  position: absolute;
  margin-left: 51%;
  font-size: 30px;
  padding: 6px;
  font-weight: 700;
  /*  adjusted to middle of the screen */
  transform: translate(-50%);
  text-align: center;
  letter-spacing: 0.5rem;

  background-image: linear-gradient(
    to right,
    #ff0055,
    #ff7e01,
    #00fe56,
    #0266f3
  );
}
/* heading */
h1 {
  text-align: center;
  border: 3px solid #3571e7;
  border-width: 10px;
  background-color: #1252c9;
  color: rgb(28, 223, 174);
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.gameInfo {
  margin-top: 10%;
  margin-left: 35%;
}

#scoreTable {
  margin-top: 5rem;
}
.text1 {
  font-size: 2.5rem;
  font-family: "serif", Times, Georgia, "Times New Roman";
  /* text-align: center; */
  color: rgb(148, 24, 155);
}
.text1,
.scoreDis,
.scoreBut,
.resBut .headT,
.input2 {
  text-align: center;
}
#sco1,
#sco2 {
  font-size: 2.3rem;
}
.headT {
  font-size: 1.5rem;
  color: rgb(13, 13, 224);
  font-weight: 500;
}
.scoreDis {
  font-size: 1.3rem;
  font-weight: 700;
}
/*  BUTTONS style */
#play1Button,
#play2Button,
#reset {
  max-width: 203px;
  border: none;
  border-radius: 10px;
  outline: none;
}

#play1Button,
#play2Button {
  margin-bottom: 18px;
  background-color: rgb(133, 133, 214);
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}

#reset {
  width: 100%;
  padding: 3px;
  background-color: rgb(228, 46, 46);
  color: rgb(31, 33, 34);
  font-size: 20px;
}

/* game information */

hr {
  padding: 3px;
  width: 80%;

  background-color: rgb(137, 26, 221);
  margin-top: 67px;
  margin-bottom: 70px;
}

/* hightlights for target score validation */
input:invalid:required {
  /* 
  input:invalid{ */
  border: 2px dashed rgb(165, 153, 223);
  background-image: linear-gradient(
    to right,
    rgb(50, 128, 145),
    rgb(187, 116, 123)
  );
}
input:valid {
  background-color: rgb(125, 99, 154);
  border: 4px solid black;
}

.winGame {
  font-size: 1rem;
}
footer {
  margin-top: 90px;
  font-size: 9px;
  text-align: center;
}
.inputScore {
  width: 8px;
}

@media only screen and (min-width: 1076px) {
  #reset,
  .heatT {
    text-align: center;
  }
  .winGame {
    font-size: 2rem;
  }
}
/* table styles */
td {
  width: 150px;
  height: 150px;
}

.table1 {
  margin: auto;
  background-color: rgb(147, 230, 205);
  border: 7px solid rgb(103, 211, 177);
}
.table2 {
  margin: auto;
  background-color: rgb(97, 120, 177);
}

.horizontal {
  border-bottom: 3px solid black;
}
.input2 {
  margin-top: 1.5rem;
}
.playFor {
  font-size: 3rem;
}
